/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #333; color: #fff; text-shadow: none; }
::selection { background: #999; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* blog styles */

html, body{ height:100%; }
body{ padding-top:100px; color:#666; font-family:sans-serif; background:url(../images/noise.png) repeat 0 0 #f2f2f2; }
a{ color:#333; text-decoration:none; }
a:visited{ color:inherit; }
a:hover{ color:#999; }
h1, h2, h3, h4, h5, h6{ margin:0; padding:0; font-family:"Trebuchet MS"; }

p code{ font-size:12px; background:#666; color:#fff; line-height:1em; padding:1px 3px; font-style:italic; }

#main{ max-width:960px; margin:0 auto; }
.effect{ border:1px solid #f0f0f0; box-shadow:3px 3px 7px rgba(0, 0, 0, 0.5); }

#header{  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.5); position:fixed; z-index: 100; left:0; top:-90px; width:100%; margin:0; background:url(../images/noise.png) repeat 0 0 #fff; padding:10px 0; }
#header{
    /* CSS3 animations */
    -webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
       -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -ms-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
         -o-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
            transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}
#header #info-wrapper{ width:900px; margin:0 auto; position:relative; }
#header #info{ width:430px; float:left; display:inline; opacity:0; }
#header #info{
    /* CSS3 animations */
    -webkit-transition: all 300ms linear;
       -moz-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
         -o-transition: all 300ms linear;
            transition: all 300ms linear;
}
#header #info h1{ text-align:left;  }
#header #info #my_pic{ float:left; display:inline; margin:0 20px 0 0; border-radius:3px; }
#header #info p{ font-size:12px; padding:0; margin:0; }
#header #info .side-info{ float:left; display:inline; width:340px; }
#header #info .side-info p{ padding-bottom:6px;  }
#header .social{  }
#header .social li{ float:left; display:inline; list-style:none; }
#header h1{ font-size:22px; text-align:center; }
#header .site-intro{
    font-family:"Trebuchet MS";
    font-size:22px;
    margin:0;
    padding:0;
    /* CSS3 animations */
    -webkit-transition: all 600ms linear;
       -moz-transition: all 600ms linear;
        -ms-transition: all 600ms linear;
         -o-transition: all 600ms linear;
            transition: all 600ms linear;
}
#header .site-intro{ width:900px; margin:0 auto; font-size:22px; text-align:left; }
#header .site-intro span{ font-size:12px; }

#header #blog-nav{ position:absolute; bottom:-30px; right:0; }
#header #blog-nav{
    -webkit-transition: all 200ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
       -moz-transition: all 200ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -ms-transition: all 200ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
         -o-transition: all 200ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
            transition: all 200ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
}
#header #blog-nav li{ float:left; display:inline; margin-left:20px;  }
#header #blog-nav li a{ font-size:18px; border-bottom:1px dashed #999; color:#666; }
#header #blog-nav li a:visited{ color:inherit; }
#header #blog-nav li a:hover{ color:#333; }

#header:hover{ top:0; }
#header:hover .site-intro{ opacity:0; }
#header:hover #info{ opacity:1; }
#header:hover #blog-nav{ bottom:60px; }


#posts{  }
.post{ max-width:900px; margin:0 auto 60px auto; }
.post.last{ margin-bottom:0; }
.post h1{ font-size:28px; }
.post h2{ font-size:26px; }
.post h3{ font-size:23px; }
.post h4{ font-size:20px; }
.post .post-title{ text-align:left; font-size:33px; width:700px; color:#C90009; margin:0; padding:10px 0 30px 0; }
.post .post-title span,
.post .post-title a{ color:#C90009; background:#C90009; color:#fff; padding:3px 10px; }
.post .post-text{ padding:40px 50px; background:url(../images/noise.png) repeat 0 0 #F8F8F8; }
.post .post-text a{ color:#999; border-bottom:1px dotted #333; }
.post .post-text a:hover{ color:#666; }
.post .post-date{ text-align:left; margin:0; font-size:16px; color:#666; }
.post .post-read-more{ padding:20px 0 40px; }
.post .post-read-more a{ float:right; display:inline; padding:10px; background:#C90009; color:#fff; border-radius:4px; } 
.post .comments a{ float:right; background:url(../images/comments_icon.png) no-repeat 0 0; padding:3px 0 3px 30px; color:#C90009; font-style:italic; font-family:"Trebuchet MS"; }


#footer{ padding:30px 0; }
#footer p{ text-align:center; font-size:14px; margin:0; padding:0 0 5px 0; }
#footer p a{ color:#999; }
.link-list{ width:30%; position:fixed; bottom:-175px; }
.link-list{
    /* CSS3 animations */
    -webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
       -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -ms-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
         -o-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
            transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}
.link-list:hover{ bottom:0; }
.link-list h3{ font-size:20px;  padding:10px 0 10px 30px; }
@media only screen and (max-width: 1200px) {
    .link-list h3{ color:#fff; font-size:20px;  padding:10px 0 10px 30px; background:rgba(0, 0, 0, 0.5); }
}
.link-list ul{ margin:0; padding:0; border-bottom:0; box-shadow:3px 3px 10px rgba(0, 0, 0, 0.5);  background:#494949; }
.link-list li{ padding:0; margin:0; list-style:none; border-bottom:1px solid #999; padding:0;  }
.link-list li{
    /* CSS3 animations */
    -webkit-transition: all 300ms linear;
       -moz-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
         -o-transition: all 300ms linear;
            transition: all 300ms linear;
}
.link-list li:hover{ background:#727272; }
.link-list li a{ display:block; padding:10px 20px; color:#fff; }

#others-posts{ left:0; width:500px; display:none; }
#categories{ right:0; width:300px; display:none; }
#categories h3{ text-align:right; padding-right:30px; }

#arquivos{ padding-bottom:50px; width:900px; margin:0 auto; }
#arquivos h3{ font-size:25px; padding-bottom:16px; }
#arquivos ul{ padding:0; margin:0; list-style:none; box-shadow:3px 3px 5px rgba(0, 0, 0, 0.5); padding:20px 20px 20px; }
#arquivos ul li{ font-size:16px; padding:5px 0; } 
#arquivos ul li time{ color:#999; font-size:12px; }

/* Better styles for embedding GitHub Gists */
.gist{font-size:13px;line-height:18px;margin-bottom:20px;width:100%}
.gist pre{font-family:Menlo,Monaco,'Bitstream Vera Sans Mono','Courier New',monospace !important}
.gist-meta{font-family:Helvetica,Arial,sans-serif;font-size:13px !important}
.gist-meta a{color:#26a !important;text-decoration:none}
.gist-meta a:hover{color:#0e4071 !important}

/* pygments */
/*.highlight{ background:#000; }*/

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
