<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} &raquo; {% endif %}Carlos Roberto Gomes Junior</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link rel="icon" type="image/png" href="/assets/images/favicon.png">
  <meta name="author" content="Carlos Roberto Gomes Junior">
  {% if page.meta_description %}
  <meta name="description" content="{{ page.meta_description }}">
  {% else %}
  <meta name="description" content="Carlos Roberto Gomes Junior - escrevendo sobre JavaScript, HTML5, CSS3, Python/Django">  
  {% endif %}
  {% if page.meta_keywords %}
  <meta name="keywords" content="{{ page.meta_keywords }}">
  {% else %}
  <meta name="keywords" content="Carlos Roberto Gomes Junior, desenvolvimento web, html5, html, javascript, css, css3, ecmascript, django, python, html5 api, html5 javascript, ribeirao preto, sao paulo, brazil, brasil">
  {% endif %}  
  <meta name="viewport" content="width=device-width">
  
  <link href="http://carlosroberto.name/feed/" rel="alternate" type="application/rss+xml" title="Carlos Roberto escrevendo sobre JavaScript, HTML5, CSS3, Python/Django" />
  
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/pygments.css">

  <script src="/assets/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header id="header" class="clearfix">
      <div id="info-wrapper" class="clearfix">
          <div id="info" class="clearfix">
            <img src="http://www.gravatar.com/avatar/82165b1bc1eb73dfe2c8657e5e504a1c?s=60" alt="" id="my_pic">
            <div class="side-info">
                <h1>Carlos Roberto Gomes Junior</h1>
                <p>Carlos trabalha como Desenvolvedor Web na cidade mais quente do Brasil, Ribeirão Preto.</p>
                <p>Utilizando JavaScript, HTML5, CSS3, Python/Django.</p>
            </div>
          </div>
          
          <nav id="blog-nav">
            <ul>
                <li><a href="/">blog</a></li>
                <li><a href="http://feeds.feedburner.com/carlosrberto">feed</a></li>
                <li><a href="http://twitter.com/carlosrberto">twitter</a></li>                
                <li><a href="http://github.com/carlosrberto">github</a></li>
                <li><a href="http://delicious.com/carlosrberto">delicious</a></li>
                <li><a href="http://br.linkedin.com/in/carlosrberto">linkedIn</a></li>
            </ul>
          </nav>
      </div>
      <p class="site-intro"><strong>Carlos Roberto</strong><span> escrevendo sobre JavaScript, HTML5, CSS3, Python/Django</span></p>

  </header>
  <div role="main" id="main">
      {{ content }}
  </div>
  
  <footer id="footer">
      <p>Copyright &copy; 2012 Carlos Roberto Gomes Junior</p>
      <p>Powered by <a href="http://jekyllrb.com/">jekyll</a></p>
  </footer>
  <a href="https://github.com/carlosrberto"><img style="position: absolute; top: 0; right: 0; border: 0; z-index:101" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
  
  <script type="text/javascript">
      var disqus_shortname = 'carlosrobertogomesjunior'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
  </script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28337845-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>