<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">
  
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/pygments.css">

  <script src="/assets/js/libs/modernizr-2.5.3.min.js"></script>
  <script src="/assets/js/libs/jquery-1.7.1.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header id="header" class="clearfix">
      
      <h1><a href="/">Carlos Roberto<span>, Web Developer</span></a></h1>
      <nav>
        <ul>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Categorias</a></li>
            <li><a href="#">Postagens</a></li>
        </ul>
      </nav>
      <form action="." id="busca">
        <input type="search" placeholder="Buscar...">
      </form>
  </header>
  <div role="main" id="main">
      {{ content }}
  </div>
  <footer>

  </footer>
</body>
</html>